<link rel="stylesheet" type="text/css" href='/css/styles.css' />
<meta name="viewport" content="width=500, initial-scale=1">
<!--This line of code is for mobile responsive -->
<div class="container">
  <div class="quizcontainer">
    <h1 class="question-style">Hoeveel is 3 maal 3 ?</h1>

    <form class="answers-buttons" action="/led/correct" method="post">
      <button type="submit" formmethod="post" formaction="/led/incorrect" class="button button3">11</button>
      <button type="submit" class="button button2"> 9 </button>
      <button type="submit" formmethod="post" formaction="/led/off" class="button button4">5</button>

    </form>
    <div class="question-reply">
      <a ><%=status %></a>
    </div>
  </div>
</div>